# This is Git's per-user configuration file.
[user]
	name = VCD
	email = VeryCrazyDog@gmail.com
[core]
	autocrlf = false
[init]
	defaultBranch = main
[fetch]
	prune = true
	pruneTags = true
[pull]
	ff = only
[rebase]
	autosquash = true
[submodule]
	recurse = true
