# This is Git's per-user configuration file.
[user]
	name = VCD
	email = 
[core]
	autocrlf = false
	symlinks = false
[init]
	defaultBranch = main
[fetch]
	prune = true
	pruneTags = true
[pull]
	ff = only
[push]
	autoSetupRemote = true
[rebase]
	autosquash = true
[submodule]
	recurse = true
